body {
  background-color: #7d7066;
}

.main-background {
  border: 2px solid black;
  margin: 5px;
  height: 95%;
  display: flex;
  justify-content: center;
}

main {
  border: 2px solid black;
  width: 1000px;
  padding: 5px;
  margin: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
